.features {
  background: #fff;
  padding: 120px 0;
}
.features-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.features-item {
  width: 264px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}
.features-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.features-desc {
  font-weight: 400;
  color: #434455;
}

.features-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0;

  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;

  background: #f4f4fd;
}
