.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}

.hero .container {
  display: flex;
  max-width: 1158px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-wrapper {
  display: block;
}

.hero-title {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  color: #fff;
}
